<!DOCTYPE html>
<html>
  <head>
    <title>AmazonAdverTool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div>
      <%= render partial: "shared/header" %>
      <div class="flex overflow-hidden bg-white pt-16">  
        <%= render partial: "shared/sidebar" %>
          <%= yield %>
          <%= render partial: "shared/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>